@font-face {
    font-family: 'CascadiaCodePL';
    font-display: swap;
    src: url('/butterflyChange/fonts/CascadiaCodePL.ttf') format("truetype");
  }

  body {
    font-family: "Microsoft YaHei", 'FiraCode';
}